
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Quattrocento San', sans-serif; 
  margin:10%;
  padding: 0;
  width: 100%;
  font-size: 16pt; 
  background-color: #87afb4;

}


h1{
  font-family: 'Texturina', serif;
  align-items: center;
  text-align: center;
  line-height: 2;
}

h2{
  font-family: 'Texturina', serif;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  padding: 5px;
}

p {
  align-items: center;
  text-align: center;
}


.footer {
  align-items: center;
  padding: 40px 0;
}

main{
  font-size: 2em;
  margin: 5%;
}






